.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e1_5 { 
	background-color:rgba(45.00000111758709, 45.00000111758709, 45.00000111758709, 1);
	width:330px;
	height:948px;
	position:absolute;
	left:0px;
	top:76px;
}.e1_18 { 
	width:150px;
	height:150px;
	position:absolute;
	left:90px;
	top:59px;
	background-image:url(images/6ea848d1_b30a_40f0_bd4e_f4d5adabe527_1_105_c_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_19 { 
	color:rgba(255, 255, 255, 1);
	width:267px;
	height:250px;
	position:absolute;
	left:32px;
	top:243px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_20 { 
	color:rgba(255, 255, 255, 1);
	width:1072px;
	height:56px;
	position:absolute;
	left:63px;
	top:20px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_11 { 
	color:rgba(0, 0, 0, 1);
	width:312px;
	height:74px;
	position:absolute;
	left:873px;
	top:200px;
	font-family:Roboto;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}.e1_13 { 
	color:rgba(0, 0, 0, 1);
	width:408px;
	height:74px;
	position:absolute;
	left:656px;
	top:561px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1_12 { 
	color:rgba(0, 0, 0, 1);
	width:312px;
	height:129px;
	position:absolute;
	left:873px;
	top:291px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_14 { 
	width:250px;
	height:250px;
	position:absolute;
	left:400px;
	top:640px;
	background-image:url(images/6ea848d1_b30a_40f0_bd4e_f4d5adabe527_1_105_c_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_17 { 
	width:300px;
	height:300px;
	position:absolute;
	left:525px;
	top:160px;
	background-image:url(images/6ea848d1_b30a_40f0_bd4e_f4d5adabe527_1_105_c_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_15 { 
	width:250px;
	height:250px;
	position:absolute;
	left:730px;
	top:640px;
	background-image:url(images/6ea848d1_b30a_40f0_bd4e_f4d5adabe527_1_105_c_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_16 { 
	width:250px;
	height:250px;
	position:absolute;
	left:1060px;
	top:635px;
	background-image:url(images/6ea848d1_b30a_40f0_bd4e_f4d5adabe527_1_105_c_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_21 { 
	background-color:rgba(227.00000166893005, 34.00000177323818, 99.00000169873238, 1);
	width:1440px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_22 { 
	color:rgba(255, 255, 255, 1);
	width:391px;
	height:50px;
	position:absolute;
	left:50px;
	top:22px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}